*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

#campo{
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
    margin: auto;
    max-width: 600px;
}
.caselle{
    width: 60px;
    height: 60px;
    background-color: palevioletred;
    border: 1px solid purple;
}
.caselle-click{
    background-color: purple;
}
.bombe{
    background-color: rgb(214, 187, 32);
}